<!DOCTYPE html>
<html>
<head>
	<title><%=house.name %></title>
</head>
<body>
	<h1><%=house.name %></h1>
	<nav>
		<ul>
			<li>
				<a href="/">Back to Hogwarts Express</a>
			</li>
			<li>
				<a href="/houses">House List</a>
			</li>
		</ul>
	</nav>

</body>
</html>