<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>All Hogwarts houses</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
   <h1>Yer a wizard Harry!</h1>
   <nav>
     <ul>
       <li>
         <a href="/houses">Hogwarts Houses</a>
       </li>
       <li>
         <a href="/students">Hogwarts Students</a>
       </li>
     </ul>
   </nav>   
  </header>


</body>
</html>

