<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Add Student</title>
</head>

<body>
  <header>
   <h1>Add a student!</h1>
  </header>

  <main>
      <form action="/houses" method="post">
          Name: <input type="text" name="name">
          Year: <input type="text" name="year">
          House: <input type="text" name="house">
          <input type="submit" value="Create Student">
      </form>
  </main>


</body>
</html>